.env*
captures/*
*.jks
*.p12
*.jar
*.pem
*.crt 
*.key
*.b64
build/JcPublicTools
build/WmAmazonS3Provider
build/WmJDBCAdapter
build/WmKafkaAdapter
build/WmMongoDBAdapter
*/captures/*
server.log*
.DS_Store
ca-cert
ca-key
san.cnf