services:

  edge:
    image: iwhicr.azurecr.io/webmethods-edge-runtime:11.2.3
    container_name: edge
    ports:
      - "15555:5555"
    env_file:
      - .env
    healthcheck:
      interval: 5s
      retries: 24
      test: ["CMD-SHELL", "curl -o /dev/null -s -w '%{http_code}' http://localhost:5555 | grep -qE '^(200|3[0-9]{2})$'"]

  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10


  # sniffer:
  #   image: nicolaka/netshoot
  #   container_name: edge-sniffer
  #   network_mode: "service:edge"
  #   command: [
  #     "tcpdump", "-i", "any", "-nn", "-s", "0",
  #     "-G", "9999999",
  #     "-w", "/captures/edge-direct-%Y%m%d-%H%M%S.pcap"
  #   ]
  #   cap_add:
  #     - NET_ADMIN
  #     - NET_RAW
  #   volumes:
  #     - ./captures:/captures
  #   depends_on:
  #     - edge

volumes:
  sqlserver_data:
    driver: local
  sqlserver_log:
    driver: local
  sqlserver_secrets:
    driver: local
  postgres-data:
    driver: local
