SAG_IS_CLOUD_REGISTER_URL=""
SAG_IS_EDGE_CLOUD_ALIAS=""
SAG_IS_CLOUD_REGISTER_TOKEN=""

WM_HTTPS_PROXY_ALIAS=default  
WM_HTTPS_PROXY_HOST=squid 
WM_HTTPS_PROXY_PORT=3128
#WM_HTTPS_PROXY_USER=
#WM_HTTPS_PROXY_PWD=
WM_HTTPS_PROXY_IS_DEFAULT="Y"

# HTTP_PROXY=http://squid:3128
# HTTPS_PROXY=http://squid:3128
# NO_PROXY=localhost,127.0.0.1,edge,sqlserver,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
# no_proxy=localhost,127.0.0.1,edge,sqlserver,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

DB_PASSWORD=Stiffly8-Showoff-Justifier